Body{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(240, 240, 240);
}
.sectionone{
    padding-top: 9rem;
    padding-left: 5rem;
    padding-bottom: 9rem;
}
.sectionone h1{
    margin: 0%;
}
mark.colorone{
    color: #00CED1;
    background: none;
}
mark.colortwo{
    color: #9ba8a6;
    background: none;
}
.sectionone button{
    margin-top: 0.6rem;
    border: 0.09rem solid #9ba8a6;
    background-color: transparent;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.sectiontwo
{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background: linear-gradient(to right,#00CED1,#9ba8a6);
    padding-top: 0.6rem;
    padding-bottom: 10rem;
     color:white;
}
.sections {
    display: flex;
    margin-top: 2.1rem;
    justify-content: space-evenly;
    align-items: center;
}
.firsthalf img
{
    height: 11rem;
    width: 18rem;
}
.firsthalf{
 margin-top: 1.8rem;
}
.secondhalf{
   width: 40%;
}
.secondhalf button{
    margin-top: 0.6rem;
    border: 0.09rem solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.projects{
    display: flex;
    margin-top: 2.1rem;
    justify-content: space-evenly;
}
.projectsinfo {
  width: 30%;
}
.projectsinfo span{
    color: #00CED1;
    font-weight: bolder;
}
.projects h3{
    margin-top: 0%;
}
.projects img
{
    height: 15rem;
    width: 31rem;
    margin-right: 0.6rem;
    box-shadow: 0.5px 0.5px 10px 0px rgba(139, 137, 137, 0.5),-0.5px -0.5px 10px 0px rgba(139, 137, 137, 0.5); 
}
.projects button{
    border: 0.09rem solid #9ba8a6;
    background-color: transparent;
    color:#9ba8a6;
    font-weight: bold;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.3rem;
}
.contact
{
    background: linear-gradient(to left, #9ba8a6,#00CED1);
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    color:white;
    text-align: center;
    margin-top: 0.07rem;
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
}
.contact button{
    border: 0.09rem solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
footer
{
    background-color: #333;
    text-align: center;
    padding-bottom: 1.9rem;
}
footer p{
    margin-bottom: 0%;
    color: #5f5a5a;
}
hr{
    height:0.03rem;
    width: 20rem; 
    border:none; 
    background-color:#484141;
}
.containers{
    display: flex;
    background-color:#333;
    justify-content: center;
    padding: 0.36rem; 
}
.boxone,.boxtwo{
 padding: 0.18rem;
font-size: small;
}
.boxone {
     background-color: #e9e5e5;
     border-top-left-radius: 0.18rem;
     border-bottom-left-radius: 0.18rem;
}
.boxtwo{
     background-color: #ffffff;
     margin-right: 0.6rem;
    border-top-right-radius: 0.18rem;
   border-bottom-right-radius: 0.18rem;
}
@media only screen and (max-width: 768px) {
.sections {
    display: flex;
    flex-direction: column;
}
.secondhalf{
    padding-left: 0%;
}
.secondhalf{
   width: 70%;
}
.projects{
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
}
.projectsinfo {
  width: 70%;
}
.projects img
{
    margin-top: 1.25rem;
    height: 9.3rem;
    width: auto; 
}
}
@media only screen and (min-width: 769px)and (max-width: 991px) {
    .projects{
    display: flex;
    margin-top: 2.19rem;
    margin-left: 5rem;
    justify-content: space-evenly;
}
.projectsinfo {
  width: 40%;
}
.projects img
{
    margin-top: 1.25rem;
    height: 15rem;
    width: auto;  
}
}
